# enumerate

In [1]:
lines = ['one', 'two', 'three']
for line in lines:
    print(line)

one
two
three

In [12]:
enumerate(lines)

In [11]:
list(enumerate(lines))

[(0, 'one'), (1, 'two'), (2, 'three')]

In [2]:
for lineno, line in enumerate(lines):
    print('lineno:', lineno, ', line:', line)

lineno: 0 , line: one
lineno: 1 , line: two
lineno: 2 , line: three

# strings

In [3]:
line = '   ----- ----- ----- ----- -----       '
marker = '----- ----- ----- ----- -----'
marker in line

True

In [4]:
line = 'abc\n'
line.rstrip('\n')

'abc'

In [6]:
line = '      blah    '
line.strip()

'blah'

# max and iterables and list comprehensions

In [7]:
iterable = [4,1,3,5]
max(iterable)

5

In [8]:
l = [[1,2,3], [1,2], [1,2,3,4]]
[len(elem) for elem in l]

[3, 2, 4]

In [9]:
[n**2 for n in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
[n**2 for n in range(10) if n%2 == 0]

[0, 4, 16, 36, 64]

## generator expressions

In [16]:
[n**2 for n in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
(n**2 for n in range(10))

In [18]:
for elem in (n**2 for n in range(10)):
    print(elem)

0
1
4
9
16
25
36
49
64
81